/*
ref https://icons8.com/cssload/en/spinners/4
 */

@import '../App/globals';

@keyframes spin {

  100% { transform: rotate(360deg); }
}

.container {
  width: 100%;
  height: 49px;
  text-align: center;
}

.spinner {
  width: 49px;
  height: 49px;
  margin: 0 auto;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: ease-in;
  border-left-color: transparent;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 3px 3px 1px map_get($colors, brand);
}
