// http://chir.ag/projects/name-that-color

$Mirage: #1c1f33;
$Ebony: #0d0c1d;
$PotPourri: #f6e8ea;
$Bossanova: #372549;
$Matisse: #2274a5;

$PastelGreen: #63ed96;
$Anzac: #e0ac43;
$Grenadier: #dc2803;
