$colors: (
  brand: #fdc22a,
  beige: #f8f8f8,
  white: #fff,
  dark: #737373
);

$mq: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1280px
);

$fonts: (
  initial: 10px,
  small: 1.2rem,
  mid: 1.4rem,
  large: 1.8rem,
  xlarge: 2.4rem
);
