@import 'colors';

$mq: (
  xs: 0,
  sm: 550px,
  md: 768px,
  lg: 1280px
);

$fonts: (
  title: 3rem,
  text: 1.75rem,
  small: 1.25rem
);

$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Muli", sans-serif;
